@mixin btn-ext($name) {
	--background-color: var(--#{$name});
	--border-color: var(--#{$name});
	--color: var(--#{$name}-inverse);
	cursor: pointer;

	&:is([aria-current], :hover, :active, :focus) {
		--background-color: var(--#{$name}-hover);
		--border-color: var(--#{$name}-hover);
		--color: var(--#{$name}-inverse);
	}

	&:focus {
		--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--#{$name}-focus);
	}
}

@mixin outline-ext($name) {
	--color: var(--#{$name});

	&:is([aria-current], :hover, :active, :focus) {
		--color: var(--#{$name}-hover);
	}
}
