@import '@picocss/pico/scss/pico';

@mixin btn-ext($name) {
	--background-color: var(--#{$name});
	--border-color: var(--#{$name});
	--color: var(--#{$name}-inverse);
	cursor: pointer;

	&:is([aria-current], :hover, :active, :focus) {
		--background-color: var(--#{$name}-hover);
		--border-color: var(--#{$name}-hover);
		--color: var(--#{$name}-inverse);
	}

	&:focus {
		--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--#{$name}-focus);
	}
}

@mixin outline-ext($name) {
	--color: var(--#{$name});

	&:is([aria-current], :hover, :active, :focus) {
		--color: var(--#{$name}-hover);
	}
}

:root {
	--success: #{$green-600};
	--success-hover: #{$green-700};
	--success-focus: #{rgba($green-600, 0.125)};
	--success-inverse: #{$white};

	--warning: #{$amber-800};
	--warning-hover: #{$amber-700};
	--warning-focus: #{rgba($amber-800, 0.125)};
	--warning-inverse: #{$white};

	--error: #{$red-600};
	--error-hover: #{$red-700};
	--error-focus: #{rgba($red-600, 0.125)};
	--error-inverse: #{$white};

	--success-h1-color: #{$green-600};
	--success-h2-color: #{mix($green-600, $grey-500)};
	--success-h3-color: #{$green-500};
	--success-h4-color: #{mix($green-500, $green-400)};
	--success-h5-color: #{$green-400};
	--success-h6-color: #{mix($green-400, $green-300)};

	--warning-h1-color: #{$amber-800};
	--warning-h2-color: #{mix($amber-800, $amber-700)};
	--warning-h3-color: #{$amber-700};
	--warning-h4-color: #{mix($amber-700, $amber-600)};
	--warning-h5-color: #{$amber-600};
	--warning-h6-color: #{mix($amber-600, $amber-500)};

	--error-h1-color: #{$red-600};
	--error-h2-color: #{mix($red-600, $red-500)};
	--error-h3-color: #{$red-500};
	--error-h4-color: #{mix($red-500, $red-400)};
	--error-h5-color: #{$red-400};
	--error-h6-color: #{mix($red-400, $red-300)};
}

$statuses: success, warning, error;
$heading-orders: 1, 2, 3, 4, 5, 6;

@each $status in $statuses {
	:is(button, input[type='submit'], input[type='button'], [role='button']).#{$status} {
		@include btn-ext($status);
	}

	:is(button, input[type='submit'], input[type='button'], [role='button']).outline.#{$status} {
		@include outline-ext($status);
	}
}

@each $status in $statuses {
	:is(address, blockquote, dl, figure, form, ol, p, pre, table, ul).#{$status} {
		color: var(--#{$status});
	}

	@each $order in $heading-orders {
		h#{$order}.#{$status} {
			--color: var(--#{$status}-h#{$order}-color);
		}
	}
}

